<!doctype html>
<html>
<head>
    <title>File Upload </title>


<!--    To load bootstrap and fontawesome icons-->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

    <style>
        body        { padding-top: 200px; animation: ease-in }
    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">

        <h1><span class="fa fa-file"></span> File Uploader <span class="fa fa-film"></span></h1>

        <p>Access OAuth:</p>

        <a href="<%=url%>" class="btn btn-danger"><span class="fa fa-google-plus-square"></span> Request OAuth</a>

    </div>

</div>
</body>
</html>
