<!DOCTYPE html>
<html>
<head>
    <title>Node Authentication</title>
    <link
            rel="stylesheet"
            href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"
    />
    <link
            rel="stylesheet"
            href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"
    />
    <style>
        body {
            padding-top: 80px;
            word-wrap: break-word;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="page-header text-center">
        <h1><span class="fa fa-google-drive"></span> Easy Upload</h1>






    </div>

    <div class="row">

        <div class="col-sm-3">

                <h3 class="text-danger">
                    <span class="fa fa-user"></span>
                </h3>

                <div class="card" style="width: 18rem;">
                    <img src="<%=pic%>" height="180" class="card-img-top" alt="">
                    <br/>


                </div>

            <a href="/logout" class="btn btn-default btn-sm">Sign Out</a>

        </div>



        <div class="col-sm-3">
            <div class="well">

                <div class="card" style="width: 18rem;">
                    <span class="fa fa-info-circle"></span>

                    <div class="card-body">
                        <p class="card-text" align="center"><h3> <%=name%></h3></p>
                    </div>
                </div>


            </div>
        </div>




        <div class="col-sm-6">
            <div class="well">
                <h3 class="text-danger">
                    <span class="fa fa-cloud-upload"></span>
                    Upload
                </h3>

                <% if (success) { %>
                    <div class="alert alert-success alert-dismissible">

                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
                        </div>

                        <a href="#" class="close" data-dismiss="alert" aria-label="close"
                        >×</a
                        >
                        <strong>Success!</strong> Your File is Uploaded.
                    </div>
                <%}%>
                <form action="/upload" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <input
                                type="file"
                                class="form-control"
                                name="file"
                                required
                                id=""
                        />
                    </div>
                    <div class="form-group">
                        <button class="btn btn-block btn-primary">
                            Upload File
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</html>



